* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1e1e1e;
  height: 100vh;
}

.background {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.left_section {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
}

.right_section {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
}

.search_clock_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  background: #2a2a2a;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.bookmark_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Greetings */
.greetings {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 10px;
}

/* Clock */
.clock_container {
  font-size: 4rem;
  font-weight: bold;
  padding: 10px;
}

#digital-clock {
  margin-bottom: 10px;
  color: white;
  background: #2a2a2a;
  border-radius: 10px;
  text-align: center;
  width: 200px;
}

/* Search */
.search_bar {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff4b7;
  margin-bottom: 20px;
}

.search_input {
  border-radius: 5px;
  width: 500px;
  height: 40px;
  font-size: 22px;
  padding: 10px;
}

/* Calender */
/* 
.calendar_container {
  background: #2a2a2a;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 500px;
  height: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calendar {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.fc-header-toolbar {
  background: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.fc-toolbar-title {
  font-size: 20px;
  font-weight: bold;
}

.fc-prev-button,
.fc-next-button {
  background: #ff5252 !important;
  border: none !important;
  border-radius: 50% !important;
  padding: 10px !important;
  margin: 2px;
}

.fc-prev-button:hover,
.fc-next-button:hover {
  background: #ff7979 !important;
}

.fc-daygrid-day {
  border: none;
  background: transparent;
}

.fc-daygrid-day-number {
  color: #fff;
  font-size: 16px;
}

.fc-day-today {
  background: none !important;
}

.fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
  background: #ff5252;
  color: #fff;
  border-radius: 50%;
  padding: 5px 10px;
}

.fc-event {
  background: #ffcd38 !important;
  border-radius: 50%;
  width: 6px;
  height: 6px;
} */
